@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800');

.App {
    font-family: 'Montserrat', sans-serif;
}

.dParentDiv {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10% auto 5%;
}

.dMenuParentDiv {
    height: 100%;
    width: 100%;
    grid-row: 1;
}

.dBodyParentDiv {
    height: 100%;
    width: 100%;
    grid-row: 2;
}

.dFooterParentDiv {
    height: 100%;
    width: 100%;
    grid-row: 3;
}